/*
.small-12{
    max-width: 640px;
    width: 100%;
}
.medium-6{
    max-width: 1024px;
    width: 100%;
}
.large-4{
    max-width: 1140px;
    width: 100%;
}
 */
.container {
  max-width: 1024px;
  width: 100%;
  margin: 0 auto;
}

.main-work {
  max-width: 1024px;
  width: 100%;
}

.flex {
  display: flex;
}

.grid {
  display: grid;
}

.topnav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0 0 0;
}
.topnav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.topnav ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  color: #000;
}
.topnav ul li a img {
  width: 50px;
  height: 50px;
}

.about-content {
  display: flex;
}
.about-content .pic-about {
  width: 40%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  position: relative;
}
.about-content .pic-about .one-bg {
  position: absolute;
  z-index: 1;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  background-color: white;
  left: 0;
  top: 10%;
}
.about-content .pic-about .two-bg {
  position: absolute;
  z-index: 2;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: #ecfbff;
  right: 0;
  top: 25%;
}
.about-content .pic-about .three-bg {
  position: absolute;
  z-index: 3;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #ffffff;
  left: 0;
  bottom: 20%;
}
.about-content .pic-about .pic {
  width: 100%;
  height: auto;
  position: absolute;
  z-index: 5;
}
.about-content .pic-about .pic img {
  max-width: 100%;
}
.about-content .pic-about .html-bg,
.about-content .pic-about .css-bg,
.about-content .pic-about .bootstrap-bg,
.about-content .pic-about .js-bg,
.about-content .pic-about .vue-bg,
.about-content .pic-about .sass-bg {
  position: absolute;
  background-color: #fff;
  border-radius: 50%;
}
.about-content .pic-about .html-bg img,
.about-content .pic-about .css-bg img,
.about-content .pic-about .bootstrap-bg img,
.about-content .pic-about .js-bg img,
.about-content .pic-about .vue-bg img,
.about-content .pic-about .sass-bg img {
  max-width: 100%;
}
.about-content .pic-about .html-bg {
  width: 50px;
  height: 50px;
  z-index: 4;
  top: 15%;
}
.about-content .pic-about .css-bg {
  width: 50px;
  height: 50px;
  z-index: 4;
  top: 25%;
  left: 20px;
}
.about-content .pic-about .bootstrap-bg {
  width: 50px;
  height: 50px;
  z-index: 5;
  top: 25%;
  right: 30px;
}
.about-content .pic-about .js-bg {
  width: 50px;
  height: 50px;
  z-index: 4;
  top: 40%;
  right: 90px;
}
.about-content .pic-about .vue-bg {
  width: 50px;
  height: 50px;
  z-index: 6;
  bottom: 40%;
  right: 90px;
}
.about-content .pic-about .sass-bg {
  width: 50px;
  height: 50px;
  z-index: 6;
  bottom: 30%;
  left: 90px;
}
.about-content .about-details {
  width: 60%;
  margin: 150px auto;
  text-align: left;
  padding-right: 50px;
}
.about-content .about-details .title {
  font-family: LinetoLight;
  font-size: 26px;
  margin: 0px auto 20px auto;
}
.about-content .about-details .title span {
  text-decoration: unset;
  font-family: LinetoBold;
  font-size: 20px;
}
.about-content .about-details .about-exp {
  font-family: LinetoBlack;
  font-size: 50px;
  line-height: 1.24;
  margin: 0px auto 20px auto;
}
.about-content .about-details .about-more {
  font-family: LinetoLight;
  font-size: 22px;
  line-height: 30px;
  margin: 0px auto 40px auto;
}
.about-content .about-details .connect {
  display: flex;
  justify-content: space-evenly;
  padding: 10px;
}
.about-content .about-details .connect .connect-about {
  background: var(--btnblue);
  color: #fff;
  font-family: "LinetoBold";
  padding: 16px 20px;
  font-size: 18px;
  cursor: pointer;
  border-radius: 6px;
  border: 2px solid transparent;
  box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.1);
}
.about-content .about-details .connect .connect-about.explore {
  border: 2px solid #333;
  background: transparent;
  color: #333;
}

/*# sourceMappingURL=styles.css.map */
